body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#title{
    font-size: 2rem;
}

#to-do-container{
    min-width: 70vw;
    min-height: 80vh;
    max-height: 90vh;
    border: 5px solid black;
    background-color: rgba(175, 171, 171, 0.727);
    border-radius: 10px;
}

#content{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#homepage{
   height: 100%;
   width: 90%;
   
}

#default-project-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: 2px dashed black;
    min-height: 80%;
    font-size: 1.2rem;
}

#default-project-container > :nth-child(1){
    margin-bottom: 10px;
    border: 0px solid;
    
}


.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.item{
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    gap: 4px;
    padding: 3px;
    display: flex;
    gap: 20px;


}

/* DueDate Display */
.item > :nth-child(4){
    margin-left: auto;
}

.item>button{
    min-width: 100px;
}

.item-title{
    min-width: 150px;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    text-decoration: underline;
}

.item-description{
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.priority{
    min-width: 100px;
    text-align: center;
}